* {
  box-sizing: border-box;
}

body {
  background-color: #3b7956;
  color: #fff;
  font-family: 'Bitcount Grid Double', system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.btn {
  border: 0;
  background-color: #ff51a8;
  color: #516dff;
  padding: 15px 20px;
  font-family: 'Bitcount Grid Double', system-ui;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.game-container {
  position: relative;
}

a {
  color: #fff;
}

h1 {
  line-height: 1.4;
}


.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.insects-list li {
  margin-top: 10px;
}

.choose-insect-btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s;
  width: 150px;
  height: 150px;
}

.choose-insect-btn:hover {
  background-color: rgb(157, 153, 239);
  color: #fbc9e2;
}

.choose-insect-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.time, .score {
  position: absolute;
  top: 20px;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

.message {
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  padding: 25px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
}

.message.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
}

.insect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.insect img {
  width: 100px;
  height: 100px;
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}